**/.DS_STORE
**/.idea
**/vendor
**/credentials
**/config
**/node_modules
**/.cache
**/.crt
**/.key

# This ignores the cdk output directory used for deployment with aws cdk
**/cdk.out/**

services/registration/.vscode/launch.json
services/registration/registration
services/organizationmanagement/organizationmanagement
services/vegaapi/vegaapi
node_modules
/.idea
/.fleet
/.vscode
dist
/build
/coverage
./test
.DS_Store
tmp
*.log
jest.debug.config.js
.tool-versions
/.nx-cache
/.verdaccio/build/local-registry
/graph/client/src/assets/environment.js
/graph/client/src/assets/dev/environment.js
/graph/client/src/assets/generated-project-graphs
/graph/client/src/assets/generated-task-graphs
/nx-dev/nx-dev/public/documentation
/nx-dev/nx-dev/public/images/open-graph

# Next.js
.next

# Local dev files
.env
local.vegacloud.io.crt
local.vegacloud.io.key
local.vegacloud.io.crt
local.vegacloud.io.key
*.ProjectGemini-UI
apps/customerportal/.local.env
